.home-intro {
    text-align: center;
    font-size: 100px;
}

body {
    background-color: lightblue;
}

#lasagna_img {
    width: 400px;
    display: block;  
    margin: 0 auto;
}

.description {
    text-align: center;
    font-size: 30px;
}

.lasagna {
    font-size: 100px;
    text-align: center;
}